<style>
	body {
		margin:0px;
		padding:0px;
	}
	#container {
		margin:0px;
		padding:0px;
	}
	#header {
		background-color:#FFA500;
	}
	#header h1 {
		padding:0px;
		padding-left:5px;
		margin:0px;
		margin-left:100px;
	}
	#menu {
		 float:left;
		 width:100px;
		 background-color:#FFD700;
	}
    .menuList {
    	list-style-type:none;
    	padding:0px;
    	margin:0px;
	}
	.menuItem{
 	  	padding:5px;
 	  	padding-bottom:10px;
     	border-bottom-style:solid;
    	max-height:80px;
    	overflow:hidden;
	}
	.selected{
		background-color: green;
	}
	#content {
		margin-left:100px;
		padding:5px;
		padding-top:0px;
	}
	#content h1 {
		padding:0px;
		margin:0px;
	}	
 </style>

