<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Template Designer</title>

	<!-- Third party libraries -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript" src="lib/jsrender-1.0.js"></script>

	<!-- The core article renderer -->
	<script type="text/javascript" src="src/articleRenderer.js"></script>
	<link rel="stylesheet" type="text/css" href="src/renderRuntime.css">

	<!-- The designer itself -->
	<link rel="stylesheet" type="text/css" href="src/templateDesigner.css">
	<script type="text/javascript" src="src/publication.js"></script>
	<script type="text/javascript" src="src/sampleArticles.js"></script>
	<script type="text/javascript" src="src/defaultTemplates.js"></script>
	<script type="text/javascript" src="src/openFileDialog.js"></script>
	<script type="text/javascript" src="src/componentType.js"></script>
	<script type="text/javascript" src="src/componentTypeLib.js"></script>
	<script type="text/javascript" src="src/template.js"></script>
	<script type="text/javascript" src="src/templateDesigner.js"></script>

	<script id="paletteItemTemplate" type="text/x-jsrender ">
		<li class="paletteItem" data-ctype="{{:name}}">{{:displayName}}</li>
	</script>

	<script id="propertyItemTemplate" type="text/x-jsrender ">
		<tr>
		<td class="propertyName">{{:displayName}}</td>
		{{if type == "text"}}
			<td><input class="propertyValue" type="text" name="{{:name}}" value="{{:value}}" data-prop_name="{{:name}}"></td>
		{{/if}}
		{{if type == "boolean"}}
			<td><input class="propertyValue" type="checkbox" name="{{:name}}" {{:checked}} data-prop_name="{{:name}}"></td>
		{{/if}}
		</tr>
	</script>

</head>
<body>

	<form>
		<input id="savePage" type="button" value="Save" class="button">
		<input id="openPage" type="button" value="Open" class="button">
		<input id="saveHTML" type="button" value="Save HTML" class="button">
	</form>

	<div id="leftPanel">
		<div id="palette">
			<ul id="paletteList"> 
			</ul>
		</div>
		<div id="properties">
			<table id="propertyList">
			</table>
		</div>
	</div>

	<div id="canvas">
	</div>

	<textarea id="templateModel" class="code" wrap="logical">
	</textarea> 

	<div id="openFileDialog" title="Open File">
		<form>
			<input type="file" id="files" name="files[]" />
		</form>
	</div>
	
</body>
</html>
