<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Template Designer</title>

	<!-- Third party libraries -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript" src="lib/jsrender-1.0.js"></script>

	<!-- The model -->
	<script type="text/javascript" src="src/model/template.js"></script>
	<script type="text/javascript" src="src/model/component.js"></script>
	<script type="text/javascript" src="src/model/composite.js"></script>
	<script type="text/javascript" src="src/model/grid.js"></script>
	<script type="text/javascript" src="src/model/publication.js"></script>
	<script type="text/javascript" src="src/model/sampleTemplates.js"></script>
	<script type="text/javascript" src="src/model/componentType.js"></script>
	<script type="text/javascript" src="src/model/componentTypeLib.js"></script>
	<script type="text/javascript" src="src/model/componentFactory.js"></script>
	<script type="text/javascript" src="src/model/sampleArticles.js"></script>

	<!-- The renderer -->
	<link rel="stylesheet" type="text/css" href="src/render/renderRuntime.css">
	<script type="text/javascript" src="src/render/articleRenderer.js"></script>
	<script type="text/javascript" src="src/render/template.js"></script>

	<!-- The designer -->
	<link rel="stylesheet" type="text/css" href="src/design/templateDesigner.css">
	<script type="text/javascript" src="src/design/templateDesigner.js"></script>
	<script type="text/javascript" src="src/design/openFileDialog.js"></script>
	<script type="text/javascript" src="src/design/articleList.js"></script>
	<script type="text/javascript" src="src/design/componentPalette.js"></script>
	<script type="text/javascript" src="src/design/propertyList.js"></script>
	<script type="text/javascript" src="src/design/canvas.js"></script>

	<script id="dataItemTemplate" type="text/x-jsrender ">
		<li class="dataItem" data-index="{{:#index}}">{{:displayName}}</li>
	</script>

	<script id="paletteItemTemplate" type="text/x-jsrender ">
		<li class="paletteItem" data-ctype="{{:name}}">{{:displayName}}</li>
	</script>

	<script id="propertyItemTemplate" type="text/x-jsrender ">
		<tr>
		<td class="propertyName">{{:displayName}}</td>
		{{if type == "text"}}
			<td><input class="propertyValue" type="text" name="{{:name}}" value="{{:value}}" data-prop_name="{{:name}}"></td>
		{{/if}}
		{{if type == "boolean"}}
			<td><input class="propertyValue" type="checkbox" name="{{:name}}" {{:checked}} data-prop_name="{{:name}}"></td>
		{{/if}}
		</tr>
	</script>

</head>
<body>

	<form>
		<input id="newTemplate" type="button" value="New" class="button">
		<input id="openTemplate" type="button" value="Open" class="button">
		<input id="saveTemplate" type="button" value="Save" class="button">
		<input id="saveHTML" type="button" value="Save HTML" class="button">
	</form>

	<div id="leftPanel">
		<div id="data">
			<ul id="dataList"> 
			</ul>
		</div>
		<div id="palette">
			<ul id="paletteList"> 
			</ul>
		</div>
		<div id="properties">
			<table id="propertyList">
			</table>
		</div>
	</div>

	<div id="canvasFrame">
		<div id="canvas">
		</div>
	</div>

	<div id="openFileDialog" title="Open File">
		<form>
			<input type="file" id="files" name="files[]" />
		</form>
	</div>
	
</body>
</html>
