
.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:4px 20px;
    margin:0px 0px 10px 0px;
}

.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

.button:active {
    position:relative;
    top:1px;
}

#leftPanel {
    width: 190px;
    float:left; 
}

#data {
    width: 190px;
    border:solid 1px black;
    margin:0px 0px 10px 0px;
    overflow: auto;
}

#dataList {
    width: 100%;
    margin:0px;
    padding:0px;
}

.dataItem {
    list-style-type: none;
    margin:5px;
    padding:5px;
    background:LightGreen;
    border:solid 1px black;
    font-family:Arial;
    font-size:13px;
    border-radius:6px;
}

#palette {
	width: 190px;
    border:solid 1px black;
    margin:0px 0px 10px 0px;
	overflow: auto;
}

#paletteList {
	width: 100%;
    margin:0px;
    padding:0px;
}

.paletteItem {
	list-style-type: none;
    margin:5px;
    padding:5px;
	background:Tan;
    border:solid 1px black;
    border:solid 1px black;
    font-family:Arial;
    font-size:13px;
}

#properties {
    width: 190px;
    height: 300px;
    border:solid 1px black;
    margin:0px 0px 10px 0px;
    overflow: auto;
}

#propertyList {
    width: 100%;
    margin:0px;
    padding:0px;
}

.propertyName {
    margin:5px 0px 5px 0px;
    padding:0px 5px 0px 5px;
    font-family:Arial;
    font-size:13px;
}

.propertyValue {
    width:80px;
    margin:5px 3px 0px 0px;
    padding:5px;
    font-family:Arial;
    font-size:13px;
}

#canvasFrame {
	float:left;
    width: 600px;
	height: 800px; 
    border:solid 1px black;
    margin:0px 0px 10px 10px;
	position:relative; // The child div's need to sit inside the canvas
	overflow: auto;
}

#canvas {
    margin:9pt;
    position:relative;
}

#templateModel {
    margin:0px 0px 10px 0px;
    padding:0px;
    border:solid 1px black;
    left:200px;
    width: 600px;
    height: 600px; 
    position:relative;
}

.gridCell {
	background-color:LightYellow
}

.flow {
    min-height:100%;
    height:auto !important;
    height:100%;     
    background-color:LightGreen
}

.dropTarget {
    background-color:Tan;
}

.selected {
    background-color:Orange;
}

.resizable-helper { border: 2px dotted Orange; }

