.button {
    clear: both;
    font-size:12px;
    border:solid 1px black;
    width:100px;
    margin:0px 0px 10px 0px;
}

#palette {
	width: 190px;
    border:solid 1px black;
    margin:0px 0px 10px 0px;
	overflow: auto;
    float:left; 
}

#palette {
	width: 190px;
    border:solid 1px black;
    margin:0px 0px 10px 0px;
	overflow: auto;
    float:left; 
}

#paletteList {
	width: 100%;
    margin:0px;
    padding:0px;
}

.paletteItem {
	list-style-type: none;
    margin:5px;
    padding:5px;
	background:Tan;
    border:solid 1px black;
}

#canvas {
	float:left;
	height: 600px; 
	width: 800px;
    border:solid 1px black;
    margin:0px 0px 10px 10px;
	position:relative; // The child div's need to sit inside the canvas
	overflow: auto;
}

#templateModel {
    margin:0px 0px 10px 0px;
    padding:0px;
    border:solid 1px black;
    left:202px;
    height: 600px; 
    width: 800px;
    position:relative;
}

.gridCell {
	background-color:LightYellow
}

.gridCellHover {
    background-color:Tan
}
